deployment:
  name: lmc-api-auth-depl
  image:
    repo: 13angs/lmc.api.auth.sv
    tag: latest
  env:
    rabbitMQConfig:
      properties:
        prefetchCount: 100
    aspnetCoreEnv: 'Development'

service:
  name: lmc-api-auth-sv
  ports:
    default: 5000
    grpc: 7000
  type: ClusterIP

secret:
  name: lmc-api-auth-secret
  data:
    lineConfigLineLoginRedirectUri: 'https://2186-171-7-224-238.ngrok-free.app/auth/line/connect'
    lineConfigLineLoginSecretId: ''
    lineConfigLineLoginClientId: ''
  