deployment:
  name: lmc-api-auth-depl
  image:
    repo: 13angs/lmc.api.auth.sv
    tag: latest
  env:
    rabbitMQConfig:
      properties:
        prefetchCount: 100
    aspnetCoreEnv: 'Production'

service:
  name: lmc-api-auth-sv
  ports:
    default: 5000
    grpc: 7000
  type: ClusterIP

secret:
  name: lmc-api-auth-secret
  data:
    lineConfigLineLoginRedirectUri: 
      - 'https://lmc.nextblackswan.com/platform/verify'
      - 'https://dev.lmc.nextblackswan.com/platform/verify'
      - 'https://lmc.nextblackswan.com/platform/verify'
    lineConfigLineLoginSecretId: 
      - ''
      - ''
      - ''
    lineConfigLineLoginClientId: 
      - '2000234671'
      - '2000234671'
      - '2000486743'
    rabbitmqHost:
      - 'amqp://root:password@rabbitmq-sv.default:5672'
      - 'amqp://admin:password@rabbitmq-dev-srv.dev.svc.cluster.local:5672'
      - 'amqp://admin:password@rabbitmq-prod-srv.prod.svc.cluster.local:5672'
    mongoHost:
      - 'mongodb://root:password@mongo-sv.default:27017'
      - 'mongodb://root:password@mongodb-dev-srv.dev.svc.cluster.local:27017'
      - 'mongodb://root:password@mongodb-prod-srv.prod.svc.cluster.local:27017'
    lineConfigChannelSecretId: 
      - ''
      - ''
      - ''
    lineConfigChannelClientId: 
      - '2000187132'
      - '2000187132'
      - '2000486731'
    lineConfigChannelChannelAccessToken: 
      - ''
      - ''
      - ''

ingress:
  rules:
    - host: 'line-message-consumer.org'
    - host: 'dev.lmc.nextblackswan.com'
    - host: 'lmc.nextblackswan.com'