deployment:
  name: lmc-api-user-depl
  image:
    repo: 13angs/lmc.api.user.sv
    tag: latest
  env:
    rabbitMQConfig:
      properties:
        prefetchCount: 100
    aspnetCoreEnv: 'Production'

service:
  name: lmc-api-user-sv
  ports:
    default: 5000
  type: ClusterIP

secret:
  name: lmc-api-user-secret
  data:
    rabbitmqHost:
      - 'amqp://root:password@rabbitmq-sv.default:5672'
      - 'amqp://root:password@rabbitmq-sv.dev:5672'
    mongoHost:
      - 'mongodb://root:password@mongo-sv.default:27017'
      - 'mongodb://root:password@mongo-sv.dev:27017'