deployment:
  name: lmc-api-message-depl
  image:
    repo: 13angs/lmc.api.message.sv
    tag: latest
  env:
    rabbitMQConfig:
      properties:
        prefetchCount: 100
    aspnetCoreEnv: 'Development'

service:
  name: lmc-api-message-sv
  ports:
    default: 5000
    nodePort: 30100
  type: ClusterIP

secret:
  name: lmc-api-message-secret
  data:
    lineConfigChannelSecretId: ''
    lineConfigChannelClientId: ''
    lineConfigChannelChannelAccessToken: ''