deployment:
  name: lmc-app-main-depl
  image:
    repo: 13angs/lmc.app.main.app
    tag: latest
  env:
    rabbitMQConfig:
      properties:
        prefetchCount: 100
    aspnetCoreEnv: 'Development'

service:
  name: lmc-app-main-sv
  ports:
    default: 80
    nodePort: 30104
  type: NodePort