deployment:
  name: lmc-api-platform-depl
  image:
    repo: 13angs/lmc.api.platform.sv
    tag: latest
  env:
    rabbitMQConfig:
      properties:
        prefetchCount: 100
    aspnetCoreEnv: 'Production'

service:
  name: lmc-api-platform-sv
  ports:
    default: 5000
  type: ClusterIP

ingress:
  rules:
    - host: 'line-message-consumer.org'
    - host: 'dev.lmc.nextblackswan.com'

secret:
  name: lmc-api-platform-secret
  data:
    rabbitmqHost:
      - 'amqp://root:password@rabbitmq-sv.default:5672'
      - 'amqp://root:password@rabbitmq-sv.dev:5672'
    mongoHost:
      - 'mongodb://root:password@mongo-sv.default:27017'
      - 'mongodb://root:password@mongo-sv.dev:27017'