secret:
  name: mongo-secret
  data: 
    rootUser: 'root'
    rootPass: 
      - 'password'
      - 'password'
    mongodbHostname: 
      - 'mongodb://root:password@mongo-sv.default:27017'
      - 'mongodb://root:password@mongo-sv.lmc-dev:27017'

service:
  name: mongo-sv
  ports:
    default: 27017
    nodePort: 30002

deployment:
  name: mongo-depl
  image:
    repo: mongo
    tag: latest